RadixWheel {
    background: white;
}

SidePanel {
    background: white;
}

QLabel {
    color: black;
    font-family: "Lucida Sans, Arial";
    font-size: 9pt;
}

QLabel#heading {
    font-size: 15pt;
}

QLabel#aspects {
    color : orange;
    font-size: 12pt;
}

QCheckBox {
   color: black;
   font-family: "Lucida Sans";
}

QCheckBox::indicator {
    width: 15px;
    height: 15px;
}

QToolTip {
    color: black;
    font-family: "Lucida Sans Mono"
}

